:root {
    --ico: #f0e0ea;
    background-color: #1e1e1e;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

body {
    margin: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--ico);
    margin: 0.25vh 0 0 0;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
}

::selection {
    color: var(--ico);
    background: #4141ad;
}